
body {
    background-color: rgb(136, 227, 255);
  }
.p {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .content {
    max-width: 500px;
    margin-top: 170px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 800px;
    font-family: "Lucida Console", "Courier New", monospace;
  }